.git
.github
.gitignore
.vscode
.idea
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv
venv
ENV
env
.pytest_cache
coverage.xml
.coverage
frontend/node_modules
frontend/dist
backend/__pycache__
backend/.pytest_cache
backend/.venv
img
